@page "/documents"
@using CWDocMgrBlazor.Client.Shared

<h3>Documents</h3>

<NavLink class="btn btn-primary action-button" href="/document/upload">
    Upload Document
</NavLink>

<DocumentList Documents="documents"></DocumentList>

@code {
    List<DocumentVM> documents = new List<DocumentVM>
    {
        new DocumentVM
        {
            DocumentName = "Document1",
            OriginalDocumentName = "OriginalDocument1",
            DateString = DateTime.Now.ToString("yyyy-MM-dd"),
            DocumentDate = DateTime.Now
        }
    };
}
