@page "/document/upload"
@using SharedLib.Models
@inject HttpClient Http
@inject NavigationManager Navigation

<h3>Document Upload</h3>

<EditForm Model="document" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />


     <div>
        <div class="row">
            <div class="col-4 text-center">
@*                 <input type="file" name="files" /> *@
                <InputFile OnChange="OnInputFileChange" />
            </div>
            <div class="col-4 text-center">
                <button type="submit">Upload</button>
            </div>
        </div>
    </div>
 </EditForm>

@if (!string.IsNullOrEmpty(message))
{
    <div class="alert alert-info mt-2">@message</div>
}

@code {
    private IBrowserFile? selectedFile;

    private DocumentVM document = new()
        {
            DocumentDate = DateTime.Now,
            DocumentName = string.Empty,
            OriginalDocumentName = string.Empty
        };
    private string? message;

    private async Task HandleValidSubmit()
    {
        if (selectedFile is null)
        {
            message = "Please select a file.";
            return;
        }

        var content = new MultipartFormDataContent();
        //content.Add(new StringContent(selectedFile.Name), "DocumentName");
        content.Add(new StringContent(selectedFile.Name), "OriginalDocumentName");
        content.Add(new StringContent(DateTime.Now.ToString()), "DocumentDate");

        var stream = selectedFile.OpenReadStream(maxAllowedSize: 10 * 1024 * 1024); // 10 MB limit
        content.Add(new StreamContent(stream), "file", selectedFile.Name);


        var response = await Http.PostAsync("api/documents/upload", content);
        if (response.IsSuccessStatusCode)
        {
            message = "Document added successfully!";
            Navigation.NavigateTo("/documents");
        }
        else
        {
            message = "Error adding document.";
        }
    }

    private void OnInputFileChange(InputFileChangeEventArgs e)
    {
        selectedFile = e.File;
    }
}